<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.pocketclass">

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".teacherOperation.ManagerHomeWork">
        </activity>
        <activity android:name=".teacherOperation.ClassAppraise">
        </activity>
        <activity android:name=".teacherOperation.ManagerAttendance">
        </activity>
        <activity android:name=".studentOperation.CalculateDatetimeScore">
        </activity>
        <activity android:name=".studentOperation.QueryHomeWork">
        </activity>
        <activity android:name=".studentOperation.QueryAppraise">
        </activity>
        <activity android:name=".studentOperation.QuerryAttendance">
        </activity>
        <activity android:name=".managerOperation.AddTeacherToClass">
        </activity>
        <activity android:name=".managerOperation.DeleteStudent">
        </activity>
        <activity android:name=".managerOperation.DeleteTeacher">
        </activity>
        <activity android:name=".managerOperation.DeleteSubjectActivity">
        </activity>
        <activity android:name=".managerOperation.AddSubjectActivity">
        </activity>
        <activity android:name=".DialogActivity">
        </activity>
        <activity android:name=".managerOperation.DeleteClassActivity">
        </activity>
        <activity android:name=".managerOperation.AddClassActivity">
        </activity>
        <activity android:name=".TeacherInformationUpdate">
        </activity>
        <activity android:name=".StudentInformationUpdate">
        </activity>
        <activity android:name=".StudentManager">
        </activity>
        <activity android:name=".TeacherInformation">
        </activity>
        <activity android:name=".StudentQuery">
        </activity>
        <activity android:name=".StudentInformation">
        </activity>
        <activity android:name=".Register">
        </activity>
        <activity android:name=".TeacherActivity">
        </activity>
        <activity android:name=".StudentActivity">
        </activity>
        <activity android:name=".Manager">
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>